* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
  /* Palette  */
  
  --primary-color: #0D1B2A;
  --second-color: #1B263B;
  --third-color: #415A77;
  --fourth-color: #778DA9;
  --fifth-color: #E0E1DD;
}

html, body, #root {
  height: 100vh;
  width: 100vw;
}

body {
  background-color: var(--primary-color);
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
}

